<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css">
		div{
			width: 700px;
			height: 30px;
			padding: 40px;
			border: 1px solid #000;
			margin: 0 auto;
		}
		#yonghuming{
			font-size: 30px;
		}
	</style>
</head>
<body>
	<div>
		<form action="/check" method="get">
			输入昵称：
			<input type="text" id="yonghuming" name="yonghuming"/>
			<input type="submit" value="进入聊天室" />
		</form>
	</div>
</body>
</html>